.Home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background : white;
    /* background-color:  */
}

.userbox {
    text-align: center;
    border: 1px solid white;
    margin-bottom: 50px;
    
}

#page_header {
    text-align: center;
}

.name {
    font-size: 18px;
}

.interest {
    font-size: 13px;
}

.viewProfile {
    margin-top: 10px;
}