#password {
    width: 260px;
    height: 30px;
}

#username {
    width: 260px;
    height: 30px;
}

.loginForm {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 380px;
    height: 490px;
    border: 2px solid gray;
    border-radius: 15px;
    background-color: white;
    /* background-color: #2d87a3; */
    padding-top: 20px;
}

.Login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#2d87a3;
    /* background-color:  */
}

#loginHeader {
    text-align: center;
    padding-top: 30px;
}

#submitButtonDiv {
    text-align: center;
}

#submitButton {
    width: 260px;
    height: 40px;
}

.form {
    padding-left: 25px;
}

#logo {
    text-align: center;
    margin-right: 15px;
}

#message {
    margin-left: 105px;
    color: red;
}