.profileDetails {
    margin: 0 auto;
    width: 500px;

}

#img {
    border-radius: 25px
}

#newinterests {
    margin-left: 40px;
    width: 260px;
    height: 30px;
}

#newbio {
    margin-left: 40px;
    width: 400px;
    height: 70px;
}

#newlocation {
    margin-left: 40px;
    width: 260px;
    height: 30px;
}

#locationlabel {
    margin-left: 40px;
}

#biolabel {
    margin-left: 40px;
}

#interestlabel {
    margin-left: 40px;
}