#register_header {
    text-align: center;
}

.form_group {
    margin-left: 20%;
}

.Register {
    background: white;
    height: 80%;
    margin: auto;
    width: 35%;
    border-radius: 30px;
    overflow: auto;
    border: 5px solid gray;
}

#background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2d87a3;
    height: 100%;
}

#name {
    width: 260px;
    height:  30px;
}

#age {
    width: 75px;
    height: 30px;
}

#location {
    width: 260px;
    height:  30px;
}

#breed {
    width: 260px;
    height:  30px;
}
